@model Zamger2._0.Models.HomeworkViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Homework</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            Subject
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
    </dl>
</div>
<div>

    @if (User.IsInRole("profesor"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    else
    {
        <a asp-action="Submit" asp-route-id="@Model.Id">Submit</a>
    }

    | <a asp-action="Index">Back to List</a>
</div>
@if (User.IsInRole("profesor"))
{
    <hr />
    <div>
        <h4>Submits</h4>
        <dl class="row">
            @foreach (var item in Model.Submits)
            {
                <dt class="col-sm-2">@item.StudentName</dt>
                <dd class="col-10"><a href="/File/Get/@item.FileName" target="_blank">@item.FileName</a></dd>
            }
        </dl>
    </div>
}