@model Zamger2._0.Data.Exam
@using Zamger2._0.Data
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExamSignUps)
        </dt>
        
        <table id="tblStudents" class="table" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:100px">Student </th>
                <th style="width:150px">Deadline</th>
            </tr>
            @foreach (ExamSignUp ex in Model.ExamSignUps)
            {
                <tr>
                    <td class="StudentUserName">
                        <span>@ex.Student.UserName</span>
                    </td>
                    <td class="Time">
                        <span>@ex.Time</span>

                    </td>


                </tr>
            }
        </table>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
